jsonschema<4.18, >=4.14
jupyterlab>=3.5.3
jupyterlab-server>=2.16.2
sphinx
sphinx-rtd-theme
nbsphinx
myst-parser
sphinx-autodoc-typehints
commonmark
sphinx_copybutton
sphinx_toolbox
sphinxcontrib-mermaid
sphinxcontrib-bibtex
sphinx-autobuild
recommonmark
sphinx-tabs
furo